// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

.debug_dump {
  background: #eaeaea;
}

footer {
  height: 100px;
}

.copyright {
  padding-top: 70px;
}