// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

.debug_dump {
  background: #eaeaea;
}

footer {
  height: 100px;
}

.copyright {
  padding-top: 70px;
}

// 投稿一覧のスタイリング

.post-box {
  display: flex;
  flex-wrap: wrap;
  width: 984px;
  margin: auto;
}

.post-item {
  margin: 14px;
}